#boton-registro {

    margin-top: 10%;
    background-color: #D95525;
    border-color: #D95525;
}

.google-icon {
    display: flex;
    justify-content: center;
    padding-top: 4%;
    margin-top: 3%;
}

.img-google {
    width: 60px;
    height: 60px;
}