.alert {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .alert.info {
    background-color: #bde5f8;
    color: #31708f;
  }
  
  .alert.error {
    background-color: #f2dede;
    color: #a94442;
  }
  